*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    
}
  
.hamburger-menu{
    width: 2rem;
    height: 2rem;
    position:fixed;
    top: 3rem;
    left: 3rem;
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: left .7s;
}

.change .hamburger-menu{
    left: 15rem;
}
.line{
    width: 100%;
    height: 0.2rem;
    background-color: #fff;
    box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,0.2);
}

.change .line{
    background-color: rgba(0,0,0,0.8);
}

.change .line-1{
    transform: rotate(45deg) translate(0.3rem, 0.5rem);
}
.change .line-2 {
    opacity: 0;
    visibility: hidden;
}
.change .line-3{
    transform: rotate(-45deg) translate(0.3rem, -0.5rem);

}

.hamburger-menu span{
    position: absolute;
    right: 5rem;
    width: 5.5rem;
    height: 2.5rem;
    background-color: #e2b646;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Baloo Da 2', serif;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
}
.change .hamburger-menu:hover span{
    opacity: 1;
    visibility: visible;
}

.hamburger-menu span::before{
    content: "";
    position: absolute;
    border-left: 1rem solid transparent;
    border-right: 1rem solid #e2b646;
    border-bottom: 1rem solid transparent;
    border-top: 1rem solid transparent;
    top: 50%;
    right: -2rem;
    transform: translateY(-50%);
}
.header{
    width: 100%;
    height: 100vh;
    position: relative;
    perspective: 100rem;
    overflow: hidden;
}
.sidebar{
    width: 18rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -18rem;
    background-color: #fafafa;
    transition: left .5s;
    z-index: 100;
}
.sidebar.inactive{
    left: 0;
}

.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item{
    text-align: space-between;
    padding-bottom: 20px;
    transition: all .5s ease;
}
.menu-item:hover{
    padding-left: 15px;
}
.menu-link{
    font-family: 'Baloo Da 2', serif;
    font-size: 1.8rem;
    color: #555;
    position: relative;
}


.social-media{
    position: absolute;
    bottom: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.social-media i{
    font-size: 1.5rem;
    margin: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #777;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color .29s;
}

.social-media i:hover{
    background-color: #c29525;
}

@media(max-width:500px){
    .sidebar{
        width: 100%;
        left: -100%;
    }

    .change .hamburger-menu{
        left: 20rem;
    }
}



/* rest of code */
.custombtn{
    background: red;
    color: #fff;
    padding: 10px 25px;
    height: 20px;
    width: 40px;
    border-radius: 10px;
}
.product-price{
    color: #111;
    font-size: medium;
}

/** slider **/
#home{
    background: rgba(97, 86, 86, 0.1);
}
.slide{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.content h1{
    font-size: 4rem;
    color: #24d278;
}
.slide-para{
    font-size: 1.7rem;
    
}
.image img{
    width: 40vw;
}
.price{
    color: royalblue;
    font-size: 2.5rem;
    margin: .5rem 0;
}
@media (max-width:768px){
    
    #home{
        padding-bottom: 4rem;
        font-size: 2.5rem;
    }
    .slide-para{
        font-size: 1rem;
    }
    .slide{
        flex-flow: column-reverse;
    }
    .content{
        padding: 1rem;
        font-size: 0.5rem;
    }
    .image img{
        width: 100vw;
    }
}
/** banner **/

.relative {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    bottom: auto;
}

.banner-main {
    position: relative; 
}

.banner-main .carousel-caption span {
    font-size: 65px;
    font-weight: 500;
    line-height: 70px;
    padding-bottom: 10px;
    display: block;
}

.banner-main .carousel-caption h1 {
    color: #fff;
    font-size: 70px;
    line-height: 70px;
    font-weight: bold;
}

.banner-main .carousel-caption p {
    font-size: 17px;
    padding: 20px 0px 50px 0px;
}

.banner-main .carousel-caption .buynow  {
text-transform: uppercase;
border: #fff solid 1px;
background: #fff;
width: 196px;
padding: 12px 0;
display: inline-block;
font-weight: 500;
font-size: 17px;
line-height: 30px;
color: #f00;
text-align: center;
border-radius: 30px;
}

.banner-main .carousel-caption .buynow:hover {
    border: #ff0000 solid 1px;
    background: #ff0000;
    color: #fff;
}

#myCarousel a.carousel-control-next {
    position: absolute;
    top: 40% !important;
    left: inherit !important;
    right: 17px !important;
    width: 70px;
    height: 70px;
    border-radius: 35px;
}

#myCarousel a.carousel-control-prev {
    position: absolute;
    top: 40% !important;
    left: 17px !important;
    width: 70px;
    height: 70px;
    border-radius: 35px;
}

ul.social_icon {
    list-style: none;
    padding-top: 5px;
}
ul.social_icon li {
    float: left;
color: #fff;
align-items: center;
padding-right: 10px;
margin-top: 17px;
}
ul.social_icon li:last-child {
    padding-right: 0px;
}
ul.social_icon li a {
color: #fff;
width: 40px;
height: 40px;
border: solid #fff 1px;
float: left;
text-align: center;
line-height: 40px;
border-radius: 100%;
font-size: 18px;
} 

ul.social_icon li a:hover {
    background: #ff0000;
border: solid #ff0000 1px;        
color: #fff;
}
.carousel-item{
    width: 50%;
}
/** end banner **/

@media (min-width: 1200px) and (max-width: 1500px) {
    .about {background: inherit;}
}
@media (min-width: 992px) and (max-width: 1199px) {
    .main-menu ul > li a {padding: 22px 20px;}
   .location_icon_bottum {display: none;}
   .banner-main .carousel-caption span {font-size: 45px; line-height: 50px; padding-bottom: 10px;}
   .banner-main .carousel-caption h1 {font-size: 55px; line-height: 63px;}
   .banner-main .carousel-caption p {padding: 15px 0px 25px 0px;}
    .about {background: inherit;}
}

@media (min-width: 768px) and (max-width: 991px) {
    .logo {padding-top: 11px;}
    .location_icon_bottum {display: none;}
    .main-menu ul > li a {padding: 8px 14px ; padding-top: 20px;}
     .last {display: none !important;}
    .banner-main .carousel-caption h1 {

        font-size: 36px;

padding-top: 30px;
    }
     .banner-main .carousel-caption span {font-size: 30px; line-height: 19px; padding-bottom: 0px;}
.banner-main .carousel-caption h1 {font-size: 35px;  padding-top: 15px; line-height: 40px;}
.banner-main .carousel-caption p  {font-size: 17px; padding: 10px 0px 20px 0px;}
.banner-main .carousel-caption .buynow {width: 149px; padding: 7px 0;}
ul.social_icon {display: none !important;}
    .about {background: inherit;}
   .about .about_box {
    padding-top: 0px;
   }
.about .about_box span {font-size: 44px;}
.about_img {

    margin-top: 30px;

}
.about_box_ span {font-size: 44px;}
.testomonial_section {

    padding: 0 91px;

}
}

@media (min-width: 576px) and (max-width: 767px) {
    .last {display: none;}
    .location_icon_bottum {display: none;}
    .logo {padding-top: 7px;}
    .mean-container .mean-bar {background: #000;}
    .mean-container .mean-bar {margin-left: 20px;}
    .banner-main .carousel-caption span {font-size: 25px; line-height: 19px;}
.banner-main .carousel-caption h1 {font-size: 30px; line-height: 40px;}
.banner-main .carousel-caption p  {display: none;}
.banner-main .carousel-caption .buynow {width: 149px; padding: 7px 0;}
.titlepage h2 {
font-size: 42px; 
}
.about .about_box_ { margin-bottom: 30px; }



.about {background: inherit;}
.mrgn {margin-top: 0px;}
    .img-box {display: none;}
    ul.link li {
    padding: 8px 8px;}
    .testomonial_section {padding: 0px;}
.cross_inner {transform: inherit;}
.cross_layout {transform: inherit;}
.testimonial_cont {padding-left: 10px; padding-right: 10px;}
}


@media (max-width: 575px) {
    .relative {left: 21%;}
    .mean-container .mean-bar {margin-bottom: -1px;}
    .location_icon_bottum {display: none;}
    .header {background: inherit; padding-bottom: 0; padding-top: 30px;}
    .last {display: none;}
    .img-box {display: none;} 

.logo {float: inherit; padding-bottom: 15px; text-align: center;}
#myCarousel a.carousel-control-prev {width: 45px; height: 45px;}
#myCarousel a.carousel-control-next {width: 45px; height: 45px;}
.banner-main .carousel-item img {height: 290px;}
.banner-main .carousel-caption span {font-size: 21px; line-height: 19px;}
.banner-main .carousel-caption h1 {font-size: 20px; line-height: 40px;}
.banner-main .carousel-caption p  {display: none;}
.banner-main .carousel-caption .buynow {width: 149px; padding: 7px 0;}
.titlepage h2 {font-size: 32px;}
.about .about_box span {font-size: 33px; line-height: 53px;}
.mrgn {margin-top: 30px;}
.footer .headinga span {
font-size: 16px;

}
.about .about_box_ { margin-bottom: 30px; }
.about .about_box_ span {font-size: 33px; line-height: 53px;}
.about {background: inherit;}
.testomonial_section {padding: 0px;}
.cross_inner {transform: inherit;}
.cross_layout {transform: inherit;}
.testimonial_cont {padding-left: 10px; padding-right: 10px;}
ul.link li {

    padding: 8px 9px;
    padding-bottom: 0px; 
}
.copyright {
    margin-top: 60px;
}

}

/* the button effect code */

.middle{
    position: absolute;
    text-align: center;
}

.btn1{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 30%;
    box-shadow:0 5px 15px -5px #00000070;
    color: #24d278;
    overflow: hidden;
    position: relative;
}
.btn1 i{
    line-height: 50px;
    font-size: 20px;
    transition: 0.2s linear;
}
.btn1:hover i{
    transform: scale(1.3);
    color: #f1f1f1;
}
.btn1::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #24d278;
    transform:rotate(45deg);
    left: -110%;
    top:90%;

}
.btn1:hover::before{
    animation:  aaa 0.7s 1;
    top: -10%;
    left:-10%;
}
@keyframes aaa{
    0%{
    left: -110%;
    top:90%;
    }50%{
    top: -30%;
    left: 10%;

    }100%{
    top: -10%;
    left:-10%;

    }
}
/* client section/testimonial */

.heading_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .heading_container h2 {
    color: #252525;
    position: relative;
    font-family: 'Poppins', sans-serif;
  }
  
  .heading_container h2::before {
    content: "";
    width: 60px;
    height: 3px;
    position: absolute;
    top: 50%;
    right: -5px;
    background-color: #24d278;
    -webkit-transform: translate(100%, -50%);
            transform: translate(100%, -50%);
  }
  

.client_section .custom_heading-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .client_section .client_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  
  .client_section .client_box {
    margin-left: 25px;
    margin-right: 25px;
    padding: 25px;
    -webkit-box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.1);
  }
  
  .client_section .client_box .client-id {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .client_section .client_box .client-id .img-box img {
    width: 100%;
  }
  
  .client_section .client_box .client-id .name {
    margin-left: 15px;
  }
  
  .client_section .client_box .client-id .name h5 {
    font-weight: bold;
  }
  
  .client_section .client_box .client-id .name p {
    color: #24d278;
    margin: 0;
  }
  
  .client_section .client_box .detail {
    margin-top: 25px;
  }
  
  .client_section .client_box:hover {
    background-color: #f3f3f3;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  
  .client_section .client_box:hover .arrow_img {
    background-image: url(../images/arrow-green.png);
  }
  
  .client_section .client_box .arrow_img {
    width: 50px;
    height: 30px;
    background-image: url(../images/arrow.png);
    background-size: 25px;
    background-repeat: no-repeat;
  }
  
/*---------------------
  Product Page
-----------------------*/

.product-control {
	margin-bottom: 53px;
}

.product-control a {
	color: #24d278;
	display: inline-block;
	font-size: 12px;
	font-weight: 600;
	margin-right: 25px;
}


.carousel-indicators li{
    background: #24d278;
}



.product-img figure img {
	min-width: 100%;
}

.product-content h2 {
	color: #1e1e1e;
	font-weight: 700;
}

.product-content .pc-meta {
	margin-bottom: 35px;
}

.product-content .pc-meta h5 {
	color: #1e1e1e;
	font-weight: 700;
	margin-bottom: 18px;
}

.product-content .pc-meta .rating i {
	font-size: 20px;
	color: #FFD200;
	margin-right: 4px;
}

.product-content p {
	color: #111;
	font-size: 16px;
	font-weight: 500;
	line-height: 30px;
	margin-bottom: 15px;
}

.product-content .tags li {
	color: #1e1e1e;
	font-size: 16px;
	font-weight: 600;
	line-height: 30px;
	list-style: none;
}

.product-content .tags li span {
	color: #838383;
}


.quantity {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.quantity>span {
	font-size: 14px;
	color: #111111;
	font-weight: 600;
	float: left;
	margin-top: 14px;
	margin-right: 15px;
}

.pro-qty {
	height: 50px;
	width: 150px;
	border: 1px solid #24d278;
	border-radius: 50px;
	padding: 0 20px;
	overflow: hidden;
	display: inline-block;
}

.pro-qty .qtybtn {
	font-size: 16px;
	color: #666666;
	cursor: pointer;
	float: left;
	width: 12px;
	line-height: 46px;
}

.pro-qty input {
	font-size: 16px;
	color: #666666;
	font-weight: 500;
	border: none;
	float: left;
	width: 84px;
	text-align: center;
	height: 48px;
}







/*---------------------
  Footer
-----------------------*/

.footer-section {
	background: #262626;
	padding-bottom: 0;
}

.newslatter-form {
	margin-bottom: 90px;
}

.newslatter-form form {
	position: relative;
}

.newslatter-form form input {
	width: 100%;
	border: 2px solid #454747;
	border-radius: 50px;
	height: 53px;
	background: transparent;
	color: #535353;
	font-size: 14px;
	font-style: italic;
	font-weight: 600;
	padding-left: 30px;
	position: relative;
}

.newslatter-form form button {
	width: 310px;
	height: 53px;
	background: #B0BCC2;
	border: 2px solid #B0BCC2;
	color: #fff;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	border-radius: 50px;
	position: absolute;
	right: 0;
}

.footer-widget {
	margin-bottom: 40px;
}

.footer-widget .single-footer-widget {
	margin-bottom: 30px;
}

.footer-widget .single-footer-widget h4 {
	color: #fff;
	font-size: 26px;
	margin-bottom: 44px;
}

.footer-widget .single-footer-widget ul li {
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	list-style: none;
	line-height: 36px;
	opacity: 0.5;
}

.social-links-warp {
	background: #222121;
	padding: 46px 0;
}

.social-links a {
	margin-right: 88px;
	display: inline-block;
}

.social-links a:last-child {
	margin-right: 0;
}

.social-links a i {
	font-size: 30px;
	color: #d7d7d7;
	float: left;
	margin-right: 19px;
	overflow: hidden;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.social-links a span {
	display: inline-block;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	color: #9f9fa0;
	padding-top: 10px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.social-links a.instagram:hover i {
	color: #2F5D84;
}

.social-links a.google-plus:hover i {
	color: #E04B37;
}

.social-links a.twitter:hover i {
	color: #5abed6;
}

.social-links a.pinterest:hover i {
	color: #CD212D;
}

.social-links a.whatsapp:hover i {
	color: green;
}

.social-links a.email:hover i {
	color: red;
}

.social-links a.facebook:hover i {
	color: #39599F;
}

.social-links a.twitter:hover i {
	color: #5abed6;
}

.social-links a.youtube:hover i {
	color: #D12227;
}

.social-links a.tumblr:hover i {
	color: #37475E;
}

.social-links a:hover span {
	color: #fff;
}

/* blog styling */
.meta{
    color: grey;
}
.meta a{
    color: #24d278;
    text-decoration: none;
}
.text-muted a{
    color: #000;
    text-decoration: none;
}

/*---------------------
  Blog Details
-----------------------*/

.blog-details {
	padding-top: 80px;
	padding-bottom: 80px;
}

.blog__details__item {
	background: #ffffff;
	margin-bottom: 24px;
}

.blog__details__item__title {
	background: #ffffff;
	padding-top: 30px;
	padding-right: 30px;
	margin-top: -100px;
	position: relative;
	margin-right: 50px;
}

.blog__details__item__title .tip {
	font-size: 12px;
	color: #ffffff;
	background: #24d278;
	text-transform: uppercase;
	font-weight: 500;
	display: inline-block;
	padding: 2px 11px 1px;
	border-radius: 5px;
}

.blog__details__item__title h4 {
	color: #111111;
	font-weight: 600;
	line-height: 39px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.blog__details__item__title ul li {
	font-size: 12px;
	color: #888888;
	display: inline-block;
	list-style: none;
	margin-right: 25px;
	position: relative;
}

.blog__details__item__title ul li span {
	color: #111111;
}

.blog__details__item__title ul li:after {
	position: absolute;
	right: -17px;
	top: 0px;
	content: "|";
}

.blog__details__item__title ul li:last-child {
	margin-right: 0;
}

.blog__details__item__title ul li:last-child:after {
	display: none;
}

.blog__details__desc {
	margin-bottom: 40px;
}

.blog__details__desc p {
	font-size: 15px;
	color: #444444;
	line-height: 27px;
}

.blog__details__desc p:last-child {
	margin-bottom: 0;
}

.blog__details__quote {
	border-top: 2px solid #24d278;
	position: relative;
	padding-top: 22px;
	margin-bottom: 20px;
}

.blog__details__quote .icon {
	height: 30px;
	width: 30px;
	font-size: 18px;
	color: #24d278;
	background: #ffffff;
	position: absolute;
	left: 0;
	top: -11px;
}

.blog__details__quote p {
	font-size: 16px;
	color: #111111;
	font-weight: 600;
	font-style: italic;
	line-height: 30px;
	margin-bottom: 0;
}

.blog__details__tags {
	margin-bottom: 50px;
}

.blog__details__tags a {
	display: inline-block;
	font-size: 13px;
	color: #666666;
	border: 1px solid #f2f2f2;
	padding: 8px 14px 7px;
	margin-right: 6px;
	margin-bottom: 10px;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.blog__details__tags a:hover {
	color: #111111;
}

.blog__details__tags a:last-child {
	margin-right: 0;
}

.blog__details__btns {
	background: #f5f5f5;
	padding: 14px 30px;
	margin-bottom: 55px;
}

.blog__details__btn__item.blog__details__btn__item--next {
	text-align: right;
}

.blog__details__btn__item.blog__details__btn__item--next h6 a i {
	margin-right: 0;
	margin-left: 5px;
}

.blog__details__btn__item h6 a {
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	color: #111111;
}

.blog__details__btn__item h6 a i {
	font-size: 15px;
	font-weight: 600;
	position: relative;
	top: -2px;
	margin-right: 5px;
}

.blog__details__comment {
	position: relative;
}

.blog__details__comment h5 {
	color: #111111;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 35px;
}

.blog__details__comment .leave-btn {
	font-size: 14px;
	font-weight: 700;
	color: #111111;
	text-transform: uppercase;
	position: absolute;
	right: 0;
	top: 0;
}

.blog__details__comment .leave-btn:after {
	position: absolute;
	left: 0;
	bottom: -5px;
	height: 1px;
	width: 100%;
	background: #24d278;
	content: "";
}

.blog__comment__item {
	margin-bottom: 35px;
}

.blog__comment__item:last-child {
	margin-bottom: 0;
}

/*---------------------
  Shop Cart
-----------------------*/

.shop-cart {
	padding-top: 70px;
	padding-bottom: 90px;
}

.shop__cart__table {
	margin-bottom: 30px;
}

.shop__cart__table table {
	width: 100%;
}

.shop__cart__table thead {
	border-bottom: 1px solid #f2f2f2;
}

.shop__cart__table thead th {
	font-size: 18px;
	color: #111111;
	font-weight: 600;
	text-transform: uppercase;
	padding-bottom: 20px;
}

.shop__cart__table tbody tr {
	border-bottom: 1px solid #f2f2f2;
}

.shop__cart__table tbody tr td {
	padding: 30px 0;
}

.shop__cart__table tbody tr .cart__product__item {
	overflow: hidden;
	width: 585px;
}

.shop__cart__table tbody tr .cart__product__item img {
	float: left;
	margin-right: 25px;
}

.shop__cart__table tbody tr .cart__product__item .cart__product__item__title {
	overflow: hidden;
	padding-top: 23px;
}

.shop__cart__table tbody tr .cart__product__item .cart__product__item__title h6 {
	color: #111111;
	font-weight: 600;
}

.shop__cart__table tbody tr .cart__product__item .cart__product__item__title .rating i {
	font-size: 10px;
	color: #e3c01c;
	margin-right: -4px;
}

.shop__cart__table tbody tr .cart__price {
	font-size: 16px;
	color: #24d278;
	font-weight: 600;
	width: 190px;
}

.shop__cart__table tbody tr .cart__amount {
	font-size: 16px;
	color: #111;
	font-weight: 600;
	width: 190px;
}

.shop__cart__table tbody tr .cart__quantity {
	width: 190px;
}

.shop__cart__table tbody tr .cart__sizes {
	width: 190px;
}

.shop__cart__table tbody tr .cart__quantity .pro-qty {
	border: none;
	padding: 0;
	width: 110px;
	border-radius: 0;
}

.quantity-left-minus {
    background: transparent;
    padding: 16px 20px; }
  
.quantity-right-plus {
    background: transparent;
    padding: 16px 20px; }

/* djede */
.btn {
    text-transform: uppercase;
    position: relative;
    -webkit-transition: 0.2s all ease-in-out !important;
    -o-transition: 0.2s all ease-in-out !important;
    transition: 0.2s all ease-in-out !important;
    top: 0;
    letter-spacing: .05em; }
    .btn:hover, .btn:active, .btn:focus {
      outline: none;
      -webkit-box-shadow: none !important;
      box-shadow: none !important; }
    .btn.btn-secondary {
      background-color: #e6e7e9;
      border-color: #e6e7e9;
      color: #000; }
    .btn.btn-sm {
      font-size: 14px !important;
      padding: 10px 20px !important; }
    .btn.btn-primary {
      font-size: 17px;
      font-weight: 300;
      letter-spacing: .2em; }
    .btn:hover {
      -webkit-box-shadow: 0 5px 20px -7px rgba(0, 0, 0, 0.9) !important;
      box-shadow: 0 5px 20px -7px rgba(0, 0, 0, 0.9) !important;
      top: -2px; }
  