{% extends 'store/base.html' %}
{% load static %}
{% block content %}
{% include 'utils/_messages.html' %}
    <section class="slider_section" id=home>
      <div id="myCarousel" class="carousel slide banner-main" data-ride="carousel">
        <div class="carousel-inner"><br>
          {% for aditem in adproducts|slice:'4' %}
            {% if forloop.counter == 1 %}
              <div class="carousel-item active">
            {% else %}
              <div class="carousel-item">
            {% endif %}
                  <div class="slide container">
                    <div class="content text-center text-md-left ml-md-4">
                      <h1>{{ aditem.title }}</h1>
                      <p class="slide-para">{{ aditem.description|slice:':100' }}...</p>
                      <h3 class="price">Ghc {{ aditem.price }}</h3>
                    </div>
                    <div class="image">
                        {% for img in aditem.productsimage_set.all %}
                          {% if img.active %}
                            <img src="{{ img.image.url }}" alt="" class="img_responsive" width="200" height="300">
                          {% endif %}
                        {% endfor %}
                    </div>
                  </div>
              </div>
            {% endfor %}
            </div>
          <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
              <i class='fa fa-angle-left'></i>
          </a>
          <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
              <i class='fa fa-angle-right'></i>
          </a><br>
        </div>
      </div>
    </section>
    <br>
    <div class="container">
      <div class="row">
          <div class="col-md-4">
            <h3>Latest Product</h3>
            <!-- Card -->
            {% for item in products|slice:'4' %}
              <div class="card mb-4">
                <div class="row no-gutters">
                  <div class="col-md-6">
                    <div class="view overlay">
                      {% for img in item.productsimage_set.all %}
                        {% if img.active %}
                          <img src="{{ img.image.url }}" alt="" class="card-img-top m-2">
                        {% endif %}
                      {% endfor %}
                    </div>
                  </div> 
                  <div class="col-md-6">
                    <div class="card-body">
                      <!-- Title -->
                      <h5 class="card-title">{{ item.title|capfirst }}</h5>
                      <!-- Text -->
                      <p class="product-price">Ghc{{ item.price }}</p>
                      <!-- Button -->
                      <a href="{% url 'detail' item.slug %}" class="btn btn-danger">View</a>
                    </div>
                  </div>
                </div> 
              </div>
            {% endfor %}
          </div>

          <div class="col-md-4">
            <h3>Discount</h3>
            <!-- Card -->
            {% for item in products %}
              {% if item.discount_price %}
                <div class="card mb-4">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                          <div class="view overlay">
                            {% for img in item.productsimage_set.all %}
                              {% if img.active %}
                                <img src="{{ img.image.url }}" alt="" class="card-img-top m-2">
                              {% endif %}
                            {% endfor %}
                          </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                              <!-- Title -->
                              <h5 class="card-title">{{ item.title|capfirst }}</h5>
                              <!-- Text -->
                              <p class="product-price">Ghc{{ item.discount_price }} <del>Ghc{{ item.price }}</del></p>
                              <!-- Button -->
                              <a href="{% url 'detail' item.slug %}" class="btn btn-danger">View</a>
                            </div>
                      </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>

          <div class="col-md-4">
            <h3>Popular Product</h3>
            <!-- Card -->
            {% for item in products|slice:'3' %}
              <div class="card mb-4">
                  <div class="row no-gutters">
                      <div class="col-md-6">
                        <div class="view overlay">
                          {% for img in item.productsimage_set.all %}
                            {% if img.active %}
                              <img src="{{ img.image.url }}" alt="" class="card-img-top m-2">
                            {% endif %}
                          {% endfor %}
                        </div>
                      </div>
                      <div class="col-md-6">
                          <div class="card-body">
                            <!-- Title -->
                            <h5 class="card-title">{{ item.title|capfirst }}</h5>
                            <!-- Text -->
                            {% if item.discount_price %}
                              <p class="product-price">Ghc{{ item.discount_price }} <del>Ghc{{ item.price }}</del></p>
                            {% else %}
                              <p class="product-price">Ghc{{ item.price }}</p>
                            {% endif %}
                            <!-- Button -->
                            <a href="{% url 'detail' item.slug %}" class="btn btn-danger">View</a>
                          </div>
                      </div>
                  </div>  
              </div>
            {% endfor %}
          </div>
      </div>
    </div>

    <!--about section here-->
    <section class="about" id="about" style="padding-top:50px; padding-bottom:50px; background:#222;">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <img src="{% static 'images/model_1_bg.jpg' %}" alt="Image" class="img-fluid">
              </div>
              <div class="col-md-6" style="color: #fff;">
                <p class="mb-4 mt-4" style="font-size: 3rem;">About Us</p>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, aut! <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis cum reprehenderit libero consectetur non quam asperiores minus magni error impedit vel, tenetur quas laborum saepe sed dignissimos blanditiis, deserunt recusandae eos optio soluta! Quam ducimus dolorem natus autem aliquid, reprehenderit architecto neque! Laudantium repudiandae, maxime accusantium! Nulla ullam aut nemo!</p>
              
                <div class="middle">
                  <a class="btn1" href="#">
                      <i class="fab fa-facebook-f"></i>
                  </a>
                  <a class="btn1" href="#">
                      <i class="fas fa-envelope"></i>
                  </a>
                  <a class="btn1" href="#">
                      <i class="fab fa-whatsapp"></i>
                  </a>
                  <a class="btn1" href="#">
                      <i class="fab fa-instagram"></i>
                  </a>
                </div>
              </div>
          </div>
      </div>
    </section> 
    <br>
    <!-- client section -->
    <section class="client_section layout_padding-bottom mt-4">
      <div class="container">
        <div class="heading_container">
          <h2>
            Testimonial
          </h2>
        </div>
      </div>

      <div class="container">
        <div class="client_container layout_padding2">
          <div class="client_box b-1">
            <div class="client-id">
              <div class="img-box">
                <img src="{% static 'images/client-1.png' %}" alt="" />
              </div>
              <div class="name">
                <h5> Magna</h5>
                <p>Consectetur adipiscing</p>
              </div>
            </div>
            <div class="detail">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrudLorem ipsum
              </p>
              <div>
                <div class="arrow_img">
                </div>
              </div>
            </div>
          </div>
          <div class="client_box b-2">
            <div class="client-id">
              <div class="img-box">
                <img src="{% static 'images/client-2.png' %}" alt="" />
              </div>
              <div class="name">
                <h5>
                  Aliqua
                </h5>
                <p>
                  Consectetur adipiscing
                </p>

              </div>
            </div>
            <div class="detail">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrudLorem ipsum
              </p>
              <div>
                <div class="arrow_img">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end client section -->
    <br><br>
{% endblock %}